.browseWrapper {
    border: 5px solid #838386;
    background: #e6e6fa;
    height: 20vw;


}
.browse-wrapper p{
    float: left;

}

.browse-wrapper img {
    height: 8vw;
}

.error{
    color: red;
    font-size: 15px;
}
.user{
    color: blue;
    font-size: 15px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}