<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Product</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}" href="../static/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css" />
</head>
<body>
<div class="container">
    <div  class=" col-md-4" style="margin-top: 1vw;">

        <div class="browseWrapper">
            <div  class="col-md-4"  >
                <img>
            </div>
            <div  class="col-md-8"  >
                
                <p th:text="${'Name: '+product.productName}"></p>
                <p   th:text="${'Category: '+product.productCategory}"> </p>
                <p   th:text="${'Model: '+product.productModel}"></p>
                <p   th:text="${'Price: '+product.productPrice}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>